In [1]:
import pandas as pd
pd.__version__

'1.1.0'

In [2]:
import numpy as np

In [3]:
data = pd.Series([0.25, 0.45, 0.66, 1])
data

0    0.25
1    0.45
2    0.66
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.45, 0.66, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1]

0.45

In [7]:
data[1:3]

1    0.45
2    0.66
dtype: float64

In [8]:
data = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
data

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
data['b']

2

In [10]:
data = pd.Series([1, 2, 3, 4], index=[247, 254, 874, 654])
data

247    1
254    2
874    3
654    4
dtype: int64

In [11]:
population_dict = {
    'Lviv': 745,
    'Kyiv': 123,
    'Kharkiv': 874,
}
population = pd.Series(population_dict)
population

Lviv       745
Kyiv       123
Kharkiv    874
dtype: int64

In [12]:
population['Lviv']

745

In [13]:
population['Lviv':'Kyiv']

Lviv    745
Kyiv    123
dtype: int64

In [14]:
pd.Series([2,3,5])

0    2
1    3
2    5
dtype: int64

In [15]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [16]:
pd.Series({
    2: 'f',
    1: 'b',
    3: 'c'
})

2    f
1    b
3    c
dtype: object

In [17]:
pd.Series({
    2: 'a', 1: 'b', 3: 'c'
}, index=[2,3])

2    a
3    c
dtype: object

In [18]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [19]:
population_dict = {'California': 38332521, 'Texas': 26448193, 'New York': 19651127, 'Florida': 19552860, 'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [21]:
states = pd.DataFrame({
    'population': population,
    'area': area
})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [22]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [23]:
states.columns

Index(['population', 'area'], dtype='object')

In [24]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [25]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [26]:
data = [{
    'a': i,
    'b': 2 * i
} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [27]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [28]:
pd.DataFrame({
    'population': population,
    'area': area
})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [29]:
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.443142  0.558295
b  0.228700  0.822756
c  0.499174  0.428126

In [30]:
np.random.rand(3, 2)

array([[0.35267609, 0.5815335 ],
       [0.55245256, 0.80340189],
       [0.83482981, 0.37978644]])

In [31]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [32]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [33]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [34]:
ind[1]

3

In [35]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [36]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [37]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [38]:
indA & indB  # Пересечение либо indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [39]:
indA | indB  # Обьединение

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [40]:
indA ^ indB  # Симметричная разность

Int64Index([1, 2, 9, 11], dtype='int64')

In [41]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')