In [1]:
# hierarchical indexing & multi-indexing
import numpy as np
import pandas as pd

In [2]:
# –ü–ª–æ—Ö–æ–π —Å–ø–æ—Å–æ–± üëá
index = [
    ('California', 2000), ('California', 2010),
    ('New York', 2000), ('New York', 2010),
    ('Texas', 2000), ('Texas', 2010)
]

populations = [
    33871648, 37253956,
    18976457, 19378102,
    20851820, 25145561
]

pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [3]:
pop[('California', 2010):('Texas', 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [4]:
# only 2010
pop[[i for i in pop.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [5]:
# –õ—É—á—à–∏–π —Å–ø–æ—Å–æ–± üëá
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [6]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [7]:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [8]:
# –ú–µ—Ç–æ–¥ unstack() –º–æ–∂–µ—Ç –±—ã—Å—Ç—Ä–æ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞—Ç—å –º—É–ª—å—Ç–∏–∏–Ω–¥–µ–∫—Å–Ω—ã–π –æ–±—ä–µ–∫—Ç Series –≤ –∏–Ω–¥–µ–∫—Å–∏—Ä–æ–≤–∞–Ω–Ω—ã–π –æ–±—ã—á–Ω—ã–º –æ–±—Ä–∞–∑–æ–º –æ–±—ä–µ–∫—Ç DataFrame
# stack() –ª–æ–≥–∏—á–Ω–æ –æ–±—Ä–∞—Ç–Ω–æ–µ –¥–µ–π—Å—Ç–≤–∏–µ
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [9]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [10]:
pop_df = pd.DataFrame({'total': pop, 'under18': [9267089, 9284094, 4687374, 4318033, 5906301, 6879014]})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [11]:
f_u18 = pop_df['under18'] / pop_df['total']
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [12]:
# np.random.rand -> 1 parameter: rows, 2 parameter: columns
df = pd.DataFrame(np.random.rand(4, 2), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], columns=['data1', 'data2'])
df

        data1     data2
a 1  0.176278  0.347371
  2  0.373311  0.750342
b 1  0.499369  0.549472
  2  0.829453  0.028251

In [13]:
data = {
    ('California', 2000): 33871648,
    ('California', 2010): 37253956,
    ('Texas', 2000): 20851820,
    ('Texas', 2010): 25145561,
    ('New York', 2000): 18976457,
    ('New York', 2010): 19378102
}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [14]:
# –Ø–≤–Ω—ã–µ –∫–æ–Ω—Å—Ç—Ä—É–∫—Ç–æ—Ä—ã –¥–ª—è –æ–±—ä–µ–∫—Ç–æ–≤ MultiIndex
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [18]:
pd.MultiIndex.from_arrays([list('aabb'), list(map(int, list('1212')))])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [19]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [20]:
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [25]:
pd.MultiIndex(levels=[['a', 'b'], [1, 2]], labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

TypeError: __new__() got an unexpected keyword argument 'labels'

In [26]:
pop.index.names = ['states', 'year']
pop

states      year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [28]:
# –ò–µ—Ä–∞—Ä—Ö–∏—á–µ—Å–∫–∏–µ –∏–Ω–¥–µ–∫—Å—ã –∏ —Å—Ç–æ–ª–±—Ü—ã
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2,]], names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']], names=['subject', 'type'])

# –°–æ–∑–¥–∞–µ–º –∏–º–∏—Ç–∞—Ü–∏–æ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

# –°–æ–∑–¥–∞–µ–º –æ–±—å–µ–∫—Ç DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

ValueError: Shape of passed values is (5, 6), indices imply (6, 6)