In [1]:
# hierarchical indexing & multi-indexing
import numpy as np
import pandas as pd

In [2]:
# –ü–ª–æ—Ö–æ–π —Å–ø–æ—Å–æ–± üëá
index = [
    ('California', 2000), ('California', 2010),
    ('New York', 2000), ('New York', 2010),
    ('Texas', 2000), ('Texas', 2010)
]

populations = [
    33871648, 37253956,
    18976457, 19378102,
    20851820, 25145561
]

pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [3]:
pop[('California', 2010):('Texas', 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [4]:
# only 2010
pop[[i for i in pop.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [5]:
# –õ—É—á—à–∏–π —Å–ø–æ—Å–æ–± üëá
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [6]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [7]:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [8]:
# –ú–µ—Ç–æ–¥ unstack() –º–æ–∂–µ—Ç –±—ã—Å—Ç—Ä–æ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞—Ç—å –º—É–ª—å—Ç–∏–∏–Ω–¥–µ–∫—Å–Ω—ã–π –æ–±—ä–µ–∫—Ç Series –≤ –∏–Ω–¥–µ–∫—Å–∏—Ä–æ–≤–∞–Ω–Ω—ã–π –æ–±—ã—á–Ω—ã–º –æ–±—Ä–∞–∑–æ–º –æ–±—ä–µ–∫—Ç DataFrame
# stack() –ª–æ–≥–∏—á–Ω–æ –æ–±—Ä–∞—Ç–Ω–æ–µ –¥–µ–π—Å—Ç–≤–∏–µ
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [9]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [10]:
pop_df = pd.DataFrame({'total': pop, 'under18': [9267089, 9284094, 4687374, 4318033, 5906301, 6879014]})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [11]:
f_u18 = pop_df['under18'] / pop_df['total']
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [12]:
# np.random.rand -> 1 parameter: rows, 2 parameter: columns
df = pd.DataFrame(np.random.rand(4, 2), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], columns=['data1', 'data2'])
df

        data1     data2
a 1  0.176278  0.347371
  2  0.373311  0.750342
b 1  0.499369  0.549472
  2  0.829453  0.028251

In [13]:
data = {
    ('California', 2000): 33871648,
    ('California', 2010): 37253956,
    ('Texas', 2000): 20851820,
    ('Texas', 2010): 25145561,
    ('New York', 2000): 18976457,
    ('New York', 2010): 19378102
}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [14]:
# –Ø–≤–Ω—ã–µ –∫–æ–Ω—Å—Ç—Ä—É–∫—Ç–æ—Ä—ã –¥–ª—è –æ–±—ä–µ–∫—Ç–æ–≤ MultiIndex
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [18]:
pd.MultiIndex.from_arrays([list('aabb'), list(map(int, list('1212')))])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [19]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [20]:
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [25]:
pd.MultiIndex(levels=[['a', 'b'], [1, 2]], labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

TypeError: __new__() got an unexpected keyword argument 'labels'

In [26]:
pop.index.names = ['states', 'year']
pop

states      year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [38]:
# –ò–µ—Ä–∞—Ä—Ö–∏—á–µ—Å–∫–∏–µ –∏–Ω–¥–µ–∫—Å—ã –∏ —Å—Ç–æ–ª–±—Ü—ã
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2, 3]], names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']], names=['subject', 'type'])

# –°–æ–∑–¥–∞–µ–º –∏–º–∏—Ç–∞—Ü–∏–æ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ
data = np.round(np.random.randn(6, 6), 1)
data[:, ::2] *= 10
data += 37

# –°–æ–∑–¥–∞–µ–º –æ–±—å–µ–∫—Ç DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      40.0  36.7  50.0  38.1  39.0  37.1
     2      35.0  38.6  45.0  37.1  36.0  37.1
     3      39.0  37.1  40.0  36.2  21.0  35.7
2014 1      26.0  36.1  39.0  36.9  36.0  37.0
     2      48.0  38.0  43.0  36.2  46.0  37.8
     3      51.0  36.7  40.0  35.7  30.0  35.8

In [39]:
health_data['Guido']

type          HR  Temp
year visit
2013 1      50.0  38.1
     2      45.0  37.1
     3      40.0  36.2
2014 1      39.0  36.9
     2      43.0  36.2
     3      40.0  35.7

In [40]:
pop

states      year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [41]:
pop['California', 2000]

33871648

In [42]:
pop['California']

year
2000    33871648
2010    37253956
dtype: int64

In [43]:
pop.loc['California' : 'New York']

states      year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

In [44]:
pop[:, 2000]

states
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [48]:
pop[pop > 22000000]

states      year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

In [49]:
pop[['California', 'Texas']]

states      year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

In [50]:
pop.loc['California' : 'Texas']

states      year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [51]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      40.0  36.7  50.0  38.1  39.0  37.1
     2      35.0  38.6  45.0  37.1  36.0  37.1
     3      39.0  37.1  40.0  36.2  21.0  35.7
2014 1      26.0  36.1  39.0  36.9  36.0  37.0
     2      48.0  38.0  43.0  36.2  46.0  37.8
     3      51.0  36.7  40.0  35.7  30.0  35.8

In [52]:
health_data['Guido', 'HR']

year  visit
2013  1        50.0
      2        45.0
      3        40.0
2014  1        39.0
      2        43.0
      3        40.0
Name: (Guido, HR), dtype: float64

In [54]:
health_data.iloc[:2, :2]

subject      Bob
type          HR  Temp
year visit
2013 1      40.0  36.7
     2      35.0  38.6

In [56]:
health_data.loc[:, ('Bob', 'HR')]

year  visit
2013  1        40.0
      2        35.0
      3        39.0
2014  1        26.0
      2        48.0
      3        51.0
Name: (Bob, HR), dtype: float64

In [57]:
health_data['Bob', 'HR']

year  visit
2013  1        40.0
      2        35.0
      3        39.0
2014  1        26.0
      2        48.0
      3        51.0
Name: (Bob, HR), dtype: float64

In [58]:
health_data.iloc[(:, 1), (:, 'HR')]

SyntaxError: invalid syntax (<ipython-input-58-13c037d2f903>, line 1)

In [60]:
idx = pd.IndexSlice
health_data.loc[idx[:, 2], idx[:, 'HR']]

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 2      35.0  45.0  36.0
2014 2      48.0  43.0  46.0

In [65]:
index = pd.MultiIndex.from_product([list('abc'), [1, 2]])
data = pd.Series(np.random.rand(6), index=index)
data.index.names = ['char', 'int']
data

char  int
a     1      0.658428
      2      0.021388
b     1      0.965743
      2      0.101344
c     1      0.031355
      2      0.037153
dtype: float64

In [66]:
# —É–∂–µ –≤—Å–µ –æ–∫–µ–π, –≤ –∫–Ω–∏–≥–µ –æ—à–∏–±–∫–∞:
# <class 'KeyError'>
# 'Key length (1) was greater than MultiIndex lexsort depth (0)'

try:
    data['a':'b']
except KeyError as e:
    print(type(e))
    print(e)

In [67]:
data['a' : 'b']

char  int
a     1      0.658428
      2      0.021388
b     1      0.965743
      2      0.101344
dtype: float64

In [68]:
data = data.sort_index()
data

char  int
a     1      0.658428
      2      0.021388
b     1      0.965743
      2      0.101344
c     1      0.031355
      2      0.037153
dtype: float64

In [69]:
pop.unstack(level=1)

year            2000      2010
states
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [70]:
pop.unstack(level=0)

states  California  New York     Texas
year
2000      33871648  18976457  20851820
2010      37253956  19378102  25145561

In [71]:
pop.unstack().stack()

states      year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [73]:
pop_flat = pop.reset_index(name='population')
pop_flat

       states  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

In [74]:
pop_flat.set_index(['state', 'year'])

KeyError: "None of ['state'] are in the columns"

In [75]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      40.0  36.7  50.0  38.1  39.0  37.1
     2      35.0  38.6  45.0  37.1  36.0  37.1
     3      39.0  37.1  40.0  36.2  21.0  35.7
2014 1      26.0  36.1  39.0  36.9  36.0  37.0
     2      48.0  38.0  43.0  36.2  46.0  37.8
     3      51.0  36.7  40.0  35.7  30.0  35.8

In [76]:
# –Ω—É–∂–Ω–æ —É—Å—Ä–µ–¥–Ω–∏—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏–∑–º–µ—Ä–µ–Ω–∏–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª–µ–π –ø–æ –¥–≤—É–º –≤–∏–∑–∏—Ç–∞–º –≤ —Ç–µ—á–µ–Ω–∏–µ –≥–æ–¥–∞
data_mean = health_data.mean(level='year')
data_mean

subject        Bob                 Guido                   Sue
type            HR       Temp         HR       Temp         HR       Temp
year
2013     38.000000  37.466667  45.000000  37.133333  32.000000  36.633333
2014     41.666667  36.933333  40.666667  36.266667  37.333333  36.866667

In [77]:
data_mean.mean(axis=1, level='type')

type         HR       Temp
year
2013  38.333333  37.077778
2014  39.888889  36.688889