In [2]:
# hierarchical indexing & multi-indexing
import numpy as np
import pandas as pd

In [3]:
# –ü–ª–æ—Ö–æ–π —Å–ø–æ—Å–æ–± üëá
index = [
    ('California', 2000), ('California', 2010),
    ('New York', 2000), ('New York', 2010),
    ('Texas', 2000), ('Texas', 2010)
]

populations = [
    33871648, 37253956,
    18976457, 19378102,
    20851820, 25145561
]

pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [4]:
pop[('California', 2010):('Texas', 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [5]:
# only 2010
pop[[i for i in pop.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [6]:
# –õ—É—á—à–∏–π —Å–ø–æ—Å–æ–± üëá
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [7]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [8]:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [9]:
# –ú–µ—Ç–æ–¥ unstack() –º–æ–∂–µ—Ç –±—ã—Å—Ç—Ä–æ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞—Ç—å –º—É–ª—å—Ç–∏–∏–Ω–¥–µ–∫—Å–Ω—ã–π –æ–±—ä–µ–∫—Ç Series –≤ –∏–Ω–¥–µ–∫—Å–∏—Ä–æ–≤–∞–Ω–Ω—ã–π –æ–±—ã—á–Ω—ã–º –æ–±—Ä–∞–∑–æ–º –æ–±—ä–µ–∫—Ç DataFrame
# stack() –ª–æ–≥–∏—á–Ω–æ –æ–±—Ä–∞—Ç–Ω–æ–µ –¥–µ–π—Å—Ç–≤–∏–µ
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [10]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [11]:
pop_df = pd.DataFrame({'total': pop, 'under18': [9267089, 9284094, 4687374, 4318033, 5906301, 6879014]})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [12]:
f_u18 = pop_df['under18'] / pop_df['total']
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [13]:
# np.random.rand -> 1 parameter: rows, 2 parameter: columns
df = pd.DataFrame(np.random.rand(4, 2), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], columns=['data1', 'data2'])
df

        data1     data2
a 1  0.288828  0.214496
  2  0.076981  0.729307
b 1  0.803723  0.765476
  2  0.341445  0.278750

In [14]:
data = {
    ('California', 2000): 33871648,
    ('California', 2010): 37253956,
    ('Texas', 2000): 20851820,
    ('Texas', 2010): 25145561,
    ('New York', 2000): 18976457,
    ('New York', 2010): 19378102
}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [15]:
# –Ø–≤–Ω—ã–µ –∫–æ–Ω—Å—Ç—Ä—É–∫—Ç–æ—Ä—ã –¥–ª—è –æ–±—ä–µ–∫—Ç–æ–≤ MultiIndex
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [16]:
pd.MultiIndex.from_arrays([list('aabb'), list(map(int, list('1212')))])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [17]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [18]:
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [19]:
pd.MultiIndex(levels=[['a', 'b'], [1, 2]], labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

TypeError: __new__() got an unexpected keyword argument 'labels'

In [20]:
pop.index.names = ['states', 'year']
pop

states      year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [21]:
# –ò–µ—Ä–∞—Ä—Ö–∏—á–µ—Å–∫–∏–µ –∏–Ω–¥–µ–∫—Å—ã –∏ —Å—Ç–æ–ª–±—Ü—ã
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2, 3]], names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']], names=['subject', 'type'])

# –°–æ–∑–¥–∞–µ–º –∏–º–∏—Ç–∞—Ü–∏–æ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ
data = np.round(np.random.randn(6, 6), 1)
data[:, ::2] *= 10
data += 37

# –°–æ–∑–¥–∞–µ–º –æ–±—å–µ–∫—Ç DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      46.0  36.4  41.0  36.0  41.0  37.8
     2      47.0  35.5  39.0  36.6  34.0  35.5
     3      49.0  36.3  22.0  34.8  20.0  35.7
2014 1      47.0  35.4  50.0  37.7  38.0  38.2
     2      41.0  37.3  51.0  37.3  37.0  34.6
     3      55.0  35.5  26.0  37.0  29.0  36.7

In [22]:
health_data['Guido']

type          HR  Temp
year visit
2013 1      41.0  36.0
     2      39.0  36.6
     3      22.0  34.8
2014 1      50.0  37.7
     2      51.0  37.3
     3      26.0  37.0

In [23]:
pop

states      year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [24]:
pop['California', 2000]

33871648

In [25]:
pop['California']

year
2000    33871648
2010    37253956
dtype: int64

In [26]:
pop.loc['California' : 'New York']

states      year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

In [27]:
pop[:, 2000]

states
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [28]:
pop[pop > 22000000]

states      year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

In [29]:
pop[['California', 'Texas']]

states      year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

In [30]:
pop.loc['California' : 'Texas']

states      year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [31]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      46.0  36.4  41.0  36.0  41.0  37.8
     2      47.0  35.5  39.0  36.6  34.0  35.5
     3      49.0  36.3  22.0  34.8  20.0  35.7
2014 1      47.0  35.4  50.0  37.7  38.0  38.2
     2      41.0  37.3  51.0  37.3  37.0  34.6
     3      55.0  35.5  26.0  37.0  29.0  36.7

In [32]:
health_data['Guido', 'HR']

year  visit
2013  1        41.0
      2        39.0
      3        22.0
2014  1        50.0
      2        51.0
      3        26.0
Name: (Guido, HR), dtype: float64

In [33]:
health_data.iloc[:2, :2]

subject      Bob
type          HR  Temp
year visit
2013 1      46.0  36.4
     2      47.0  35.5

In [34]:
health_data.loc[:, ('Bob', 'HR')]

year  visit
2013  1        46.0
      2        47.0
      3        49.0
2014  1        47.0
      2        41.0
      3        55.0
Name: (Bob, HR), dtype: float64

In [35]:
health_data['Bob', 'HR']

year  visit
2013  1        46.0
      2        47.0
      3        49.0
2014  1        47.0
      2        41.0
      3        55.0
Name: (Bob, HR), dtype: float64

In [36]:
health_data.iloc[(:, 1), (:, 'HR')]

SyntaxError: invalid syntax (<ipython-input-36-0a9d64c181ed>, line 1)

In [37]:
idx = pd.IndexSlice
health_data.loc[idx[:, 2], idx[:, 'HR']]

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 2      47.0  39.0  34.0
2014 2      41.0  51.0  37.0

In [38]:
index = pd.MultiIndex.from_product([list('abc'), [1, 2]])
data = pd.Series(np.random.rand(6), index=index)
data.index.names = ['char', 'int']
data

char  int
a     1      0.773499
      2      0.430600
b     1      0.485744
      2      0.769835
c     1      0.271074
      2      0.680180
dtype: float64

In [39]:
# —É–∂–µ –≤—Å–µ –æ–∫–µ–π, –≤ –∫–Ω–∏–≥–µ –æ—à–∏–±–∫–∞:
# <class 'KeyError'>
# 'Key length (1) was greater than MultiIndex lexsort depth (0)'

try:
    data['a':'b']
except KeyError as e:
    print(type(e))
    print(e)

In [40]:
data['a' : 'b']

char  int
a     1      0.773499
      2      0.430600
b     1      0.485744
      2      0.769835
dtype: float64

In [41]:
data = data.sort_index()
data

char  int
a     1      0.773499
      2      0.430600
b     1      0.485744
      2      0.769835
c     1      0.271074
      2      0.680180
dtype: float64

In [42]:
pop.unstack(level=1)

year            2000      2010
states
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [43]:
pop.unstack(level=0)

states  California  New York     Texas
year
2000      33871648  18976457  20851820
2010      37253956  19378102  25145561

In [44]:
pop.unstack().stack()

states      year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [45]:
pop_flat = pop.reset_index(name='population')
pop_flat

       states  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

In [46]:
pop_flat.set_index(['state', 'year'])

KeyError: "None of ['state'] are in the columns"

In [47]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      46.0  36.4  41.0  36.0  41.0  37.8
     2      47.0  35.5  39.0  36.6  34.0  35.5
     3      49.0  36.3  22.0  34.8  20.0  35.7
2014 1      47.0  35.4  50.0  37.7  38.0  38.2
     2      41.0  37.3  51.0  37.3  37.0  34.6
     3      55.0  35.5  26.0  37.0  29.0  36.7

In [48]:
# –Ω—É–∂–Ω–æ —É—Å—Ä–µ–¥–Ω–∏—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏–∑–º–µ—Ä–µ–Ω–∏–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª–µ–π –ø–æ –¥–≤—É–º –≤–∏–∑–∏—Ç–∞–º –≤ —Ç–µ—á–µ–Ω–∏–µ –≥–æ–¥–∞
data_mean = health_data.mean(level='year')
data_mean

subject        Bob                 Guido                   Sue
type            HR       Temp         HR       Temp         HR       Temp
year
2013     47.333333  36.066667  34.000000  35.800000  31.666667  36.333333
2014     47.666667  36.066667  42.333333  37.333333  34.666667  36.500000

In [49]:
data_mean.mean(axis=1, level='type')

type         HR       Temp
year
2013  37.666667  36.066667
2014  41.555556  36.633333

In [52]:
import this